<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dead_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,2}</string>
                <key>spriteSize</key>
                <string>{98,92}</string>
                <key>spriteSourceSize</key>
                <string>{218,116}</string>
                <key>textureRect</key>
                <string>{{231,1},{98,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,13}</string>
                <key>spriteSize</key>
                <string>{130,77}</string>
                <key>spriteSourceSize</key>
                <string>{218,117}</string>
                <key>textureRect</key>
                <string>{{505,1},{130,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,14}</string>
                <key>spriteSize</key>
                <string>{178,48}</string>
                <key>spriteSourceSize</key>
                <string>{218,116}</string>
                <key>textureRect</key>
                <string>{{637,73},{178,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-7}</string>
                <key>spriteSize</key>
                <string>{158,65}</string>
                <key>spriteSourceSize</key>
                <string>{218,117}</string>
                <key>textureRect</key>
                <string>{{813,1},{158,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-2}</string>
                <key>spriteSize</key>
                <string>{118,90}</string>
                <key>spriteSourceSize</key>
                <string>{218,116}</string>
                <key>textureRect</key>
                <string>{{1,1},{118,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-3}</string>
                <key>spriteSize</key>
                <string>{136,104}</string>
                <key>spriteSourceSize</key>
                <string>{218,116}</string>
                <key>textureRect</key>
                <string>{{93,1},{136,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-9}</string>
                <key>spriteSize</key>
                <string>{178,77}</string>
                <key>spriteSourceSize</key>
                <string>{218,117}</string>
                <key>textureRect</key>
                <string>{{325,1},{178,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-8}</string>
                <key>spriteSize</key>
                <string>{174,70}</string>
                <key>spriteSourceSize</key>
                <string>{218,116}</string>
                <key>textureRect</key>
                <string>{{637,1},{174,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>Dead.png</string>
            <key>size</key>
            <string>{972,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f994b9faa00a02038f72308ac8141ec:5c822526f9696e8187346f43b08079b6:78c29c9bc0794dd30c76ea6b8f0c5218$</string>
            <key>textureFileName</key>
            <string>Dead.png</string>
        </dict>
    </dict>
</plist>
