<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dead_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,13}</string>
                <key>spriteSize</key>
                <string>{115,70}</string>
                <key>spriteSourceSize</key>
                <string>{201,96}</string>
                <key>textureRect</key>
                <string>{{82,1},{115,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,5}</string>
                <key>spriteSize</key>
                <string>{151,74}</string>
                <key>spriteSourceSize</key>
                <string>{201,96}</string>
                <key>textureRect</key>
                <string>{{621,1},{151,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-5}</string>
                <key>spriteSize</key>
                <string>{151,58}</string>
                <key>spriteSourceSize</key>
                <string>{201,96}</string>
                <key>textureRect</key>
                <string>{{774,1},{151,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,0}</string>
                <key>spriteSize</key>
                <string>{155,84}</string>
                <key>spriteSourceSize</key>
                <string>{201,96}</string>
                <key>textureRect</key>
                <string>{{154,1},{155,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{115,79}</string>
                <key>spriteSourceSize</key>
                <string>{201,95}</string>
                <key>textureRect</key>
                <string>{{1,1},{115,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,1}</string>
                <key>spriteSize</key>
                <string>{161,82}</string>
                <key>spriteSourceSize</key>
                <string>{201,96}</string>
                <key>textureRect</key>
                <string>{{311,1},{161,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-14}</string>
                <key>spriteSize</key>
                <string>{143,56}</string>
                <key>spriteSourceSize</key>
                <string>{201,96}</string>
                <key>textureRect</key>
                <string>{{774,61},{143,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-10}</string>
                <key>spriteSize</key>
                <string>{145,76}</string>
                <key>spriteSourceSize</key>
                <string>{201,96}</string>
                <key>textureRect</key>
                <string>{{474,1},{145,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>Dead.png</string>
            <key>size</key>
            <string>{926,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3e94b5cb26019b843cbc2b756d37e15:83955f9a247327640082545c220de205:78c29c9bc0794dd30c76ea6b8f0c5218$</string>
            <key>textureFileName</key>
            <string>Dead.png</string>
        </dict>
    </dict>
</plist>
