<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Get-Hit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-4}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{107,92}</string>
                <key>textureRect</key>
                <string>{{529,69},{55,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Get-Hit_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{75,76}</string>
                <key>spriteSourceSize</key>
                <string>{107,92}</string>
                <key>textureRect</key>
                <string>{{1393,1},{75,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Get-Hit_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,8}</string>
                <key>spriteSize</key>
                <string>{80,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,92}</string>
                <key>textureRect</key>
                <string>{{1554,1},{80,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Get-Hit_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,9}</string>
                <key>spriteSize</key>
                <string>{63,74}</string>
                <key>spriteSourceSize</key>
                <string>{107,92}</string>
                <key>textureRect</key>
                <string>{{1968,1},{63,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Get-Hit_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-3}</string>
                <key>spriteSize</key>
                <string>{83,81}</string>
                <key>spriteSourceSize</key>
                <string>{107,91}</string>
                <key>textureRect</key>
                <string>{{1,1},{83,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Get-Hit_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{81,83}</string>
                <key>spriteSourceSize</key>
                <string>{107,91}</string>
                <key>textureRect</key>
                <string>{{86,1},{81,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Get-Hit_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{74,77}</string>
                <key>spriteSourceSize</key>
                <string>{106,91}</string>
                <key>textureRect</key>
                <string>{{1314,1},{74,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Get-Hit_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{83,77}</string>
                <key>spriteSourceSize</key>
                <string>{107,91}</string>
                <key>textureRect</key>
                <string>{{1059,1},{83,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Get-Hit_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,1}</string>
                <key>spriteSize</key>
                <string>{87,66}</string>
                <key>spriteSourceSize</key>
                <string>{107,92}</string>
                <key>textureRect</key>
                <string>{{529,1},{87,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Get-Hit_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,2}</string>
                <key>spriteSize</key>
                <string>{85,68}</string>
                <key>spriteSourceSize</key>
                <string>{107,92}</string>
                <key>textureRect</key>
                <string>{{707,1},{85,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Get-Hit_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{76,66}</string>
                <key>spriteSourceSize</key>
                <string>{106,92}</string>
                <key>textureRect</key>
                <string>{{1890,1},{76,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Get-Hit_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,3}</string>
                <key>spriteSize</key>
                <string>{87,66}</string>
                <key>spriteSourceSize</key>
                <string>{107,92}</string>
                <key>textureRect</key>
                <string>{{618,1},{87,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Get-Hit_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{83,74}</string>
                <key>spriteSourceSize</key>
                <string>{107,92}</string>
                <key>textureRect</key>
                <string>{{1144,1},{83,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Get-Hit_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{89,62}</string>
                <key>spriteSourceSize</key>
                <string>{107,92}</string>
                <key>textureRect</key>
                <string>{{881,1},{89,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Get-Hit_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{92,52}</string>
                <key>spriteSourceSize</key>
                <string>{106,92}</string>
                <key>textureRect</key>
                <string>{{425,70},{92,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Get-Hit_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{81,68}</string>
                <key>spriteSourceSize</key>
                <string>{107,92}</string>
                <key>textureRect</key>
                <string>{{1471,1},{81,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Get-Hit_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{55,75}</string>
                <key>spriteSourceSize</key>
                <string>{107,91}</string>
                <key>textureRect</key>
                <string>{{1784,69},{55,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Get-Hit_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{71,59}</string>
                <key>spriteSourceSize</key>
                <string>{107,91}</string>
                <key>textureRect</key>
                <string>{{881,65},{71,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Get-Hit_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-11}</string>
                <key>spriteSize</key>
                <string>{80,53}</string>
                <key>spriteSourceSize</key>
                <string>{106,91}</string>
                <key>textureRect</key>
                <string>{{693,71},{80,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Get-Hit_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{61,65}</string>
                <key>spriteSourceSize</key>
                <string>{107,91}</string>
                <key>textureRect</key>
                <string>{{1717,63},{61,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Get-Hit_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{83,74}</string>
                <key>spriteSourceSize</key>
                <string>{107,92}</string>
                <key>textureRect</key>
                <string>{{1229,1},{83,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Get-Hit_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-7}</string>
                <key>spriteSize</key>
                <string>{83,62}</string>
                <key>spriteSourceSize</key>
                <string>{107,92}</string>
                <key>textureRect</key>
                <string>{{1805,1},{83,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Get-Hit_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-11}</string>
                <key>spriteSize</key>
                <string>{78,54}</string>
                <key>spriteSourceSize</key>
                <string>{106,92}</string>
                <key>textureRect</key>
                <string>{{345,70},{78,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Get-Hit_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{85,64}</string>
                <key>spriteSourceSize</key>
                <string>{107,92}</string>
                <key>textureRect</key>
                <string>{{972,1},{85,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Get-Hit_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{89,67}</string>
                <key>spriteSourceSize</key>
                <string>{107,91}</string>
                <key>textureRect</key>
                <string>{{438,1},{89,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Get-Hit_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{85,67}</string>
                <key>spriteSourceSize</key>
                <string>{107,91}</string>
                <key>textureRect</key>
                <string>{{794,1},{85,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Get-Hit_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-4}</string>
                <key>spriteSize</key>
                <string>{76,55}</string>
                <key>spriteSourceSize</key>
                <string>{106,91}</string>
                <key>textureRect</key>
                <string>{{615,69},{76,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Get-Hit_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{91,67}</string>
                <key>spriteSourceSize</key>
                <string>{107,91}</string>
                <key>textureRect</key>
                <string>{{345,1},{91,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Get-Hit_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{83,80}</string>
                <key>spriteSourceSize</key>
                <string>{107,92}</string>
                <key>textureRect</key>
                <string>{{171,1},{83,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Get-Hit_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{87,74}</string>
                <key>spriteSourceSize</key>
                <string>{107,92}</string>
                <key>textureRect</key>
                <string>{{256,1},{87,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Get-Hit_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{86,60}</string>
                <key>spriteSourceSize</key>
                <string>{106,92}</string>
                <key>textureRect</key>
                <string>{{1717,1},{86,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Get-Hit_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{79,68}</string>
                <key>spriteSourceSize</key>
                <string>{107,92}</string>
                <key>textureRect</key>
                <string>{{1636,1},{79,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>Get-Hit.png</string>
            <key>size</key>
            <string>{2032,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d58a11f718771db77d4e03f8d8b3e02:7c5034259a93677dda3a007b3da2650a:228a5d5d8972c935bcf4bf112ee14e99$</string>
            <key>textureFileName</key>
            <string>Get-Hit.png</string>
        </dict>
    </dict>
</plist>
